.container{
    padding: 20px;
    width: 400px;

    margin: 200px auto;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #ddd;
}

button{
    width: fit-content;
    height: fit-content;
    border: 1px solid white;
    background-color: black;
    color: white;
}