<div class="products section">
    <div class="products__title section__title">
        <h1>Products</h1>
    </div>

    <div class="products__content section__content">
        <app-filter
        [all]="totalProductCount"
        [inStock]="totalInStockProductCount"
        [outOfStock]="totalOutofStockProductCount"
        (selectedFilterButtonChanged)="onFilterChanged($event)"></app-filter>

        <div class="products__aria">
            <div *ngFor="let prod of products" (click)="selectedProduct=prod">
              <div *ngIf="selectedFilterButton === 'all' || prod.inStock.toString() === selectedFilterButton">
                <app-product *ngIf="searchText===' ' || prod.title.toLowerCase().includes(searchText)" [product]="prod"></app-product>
              </div>
            </div>
        </div>
    </div>
</div>
